@tailwind base;
@tailwind components;
@tailwind utilities;
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

select {
  border: 2px solid #7c3aed;
  padding: 8px;
  outline: none;
}
select option {
  background-color: #f0f0f0;
  padding: 10px;
}

.heading {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
  color: #201f21;
  position: relative;
}

.heading::before {
  background-color: #7c3aed;
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  margin-bottom: 5px;
}

.heading::after {
  background-color: #7c3aed;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 50px;
  margin-bottom: -5px;
}

.imagediv {
  border-bottom: 4px solid #7c3aed;
  border-radius: 60%;
  margin-bottom: 6px;
}
